{% extends 'include/base.html' %} {% block content %}
<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="index.html" class="link"
              ><i class="ri-home-3-line fs-5"></i
            ></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Info Desa / Monografi
          </li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Monografi</h1>
    </div>
    <div
      class="col-lg-4 col-md-6 d-none d-md-flex align-items-center justify-content-end"
    >
     
    </div>
  </div>
</div>

<div class="container-fluid">
  <!-- ============================================================= -->
  <!-- Start Page Content -->
  <!-- ============================================================= -->
  <!-- Row -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <h4 class="card-title">Monografi Desa</h4>
          <div class="col-sm-3">
            <div class="mb-3">
              <select class="form-select" id="tahun" name="educationDate">
                <option  value="value" selected>Tahun</option>
                {% for i in info_list :%}
                <option value="{{i.tahun}}">{{i.tahun}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
          <div class="card">
          <div class="card-body">
            <h4 class="card-title">Kependudukan</h4>
              <div class = "table-responsive">
                <table id="file_export" class="table table-striped table-bordered display text-nowrap"style="border:0px; border-bottom: 1px solid ;">
                  <thead>
                      <tr>
                        <th >Jumlah Penduduk</th>
                        <th >Jumlah KK</th>
                        <th >Laki-Laki</th>
                        <th >Perempuan</th>
                      </tr>
                  </thead>
                  <tr style="border:0px">
                      <td id="jpenduduk">{{info_list[0]['jpenduduk']}}</td>
                      <td id="jkk">{{info_list[0]['jkk']}}</td>
                      <td id="laki">{{info_list[0]['laki']}}</td>
                      <td id="perempuan">{{info_list[0]['perempuan']}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Kesejahteraan Sosial</h4>
            <div class = "table-responsive">
              <table id="file_export" class="table table-striped table-bordered display text-nowrap"style="border:0px; border-bottom: 1px solid ;">
                <thead>
                    <tr>
                      <th >Jumlah KK Prasejahtera</th>
                      <th >Jumlah KK Sejahtera</th>
                      <th >Jumlah KK Kaya</th>
                      <th >Jumlah KK Sedang</th>
                      <th >Jumlah KK Miskin</th>
                    </tr>
                </thead>
                <tr style="border:0px">
                    <td id="jkkprese">{{info_list[0]['jkkprese']}}</td>
                    <td id="jkkseja">{{info_list[0]['jkkseja']}}</td>
                    <td id="jkkkaya">{{info_list[0]['jkkkaya']}}</td>
                    <td id="jkksedang">{{info_list[0]['jkksedang']}}</td>
                    <td id="jkkmiskin">{{info_list[0]['jkkmiskin']}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
          <div class="card">
          <div class="card-body">
            <h4 class="card-title">Agama</h4>
            <div class = "table-responsive">
              <table id="file_export" class="table table-striped table-bordered display text-nowrap"style="border:0px; border-bottom: 1px solid ;">
                <thead>
                    <tr>
                      <th >Islam</th>
                      <th >Kristen</th>
                      <th >Protestan</th>
                      <th >Katolik</th>
                      <th >Hindu</th>
                      <th >Budha</th>
                    </tr>
                </thead>
                <tr style="border:0px">
                    <td id="islam">{{info_list[0]['islam']}}</td>
                    <td id="kristen">{{info_list[0]['kristen']}}</td>
                    <td id="protestan">{{info_list[0]['protestan']}}</td>
                    <td id="katolik">{{info_list[0]['katolik']}}</td>
                    <td id="hindu">{{info_list[0]['hindu']}}</td>
                    <td id="budha">{{info_list[0]['budha']}}</td>
                </tr>
              </table>
            </div>
    </div>
  </div>
  <script>
    $("#tahun").on("change", function () {
      var info_list = JSON.parse('{{info_list|tojson}}');
      console.log(info_list);
      for (i in info_list) {
        console.log(info_list[i].tahun);
        console.log(this.value)
        if (info_list[i].tahun == this.value) {
          console.log('berubah')
          $jpenduduk = $("#jpenduduk").text(info_list[i].jpenduduk);
          $jkk = $("#jkk").text(info_list[i].jkk);
          $laki = $("#laki").text(info_list[i].laki);
          $perempuan = $("#perempuan").text(info_list[i].perempuan);
          $jkkprese = $("#jkkprese").text(info_list[i].jkkprese);
          $jkkseja = $("#jkkseja").text(info_list[i].jkkseja);
          $jkkkaya = $("#jkkkaya").text(info_list[i].jkkkaya);
          $jkksedang = $("#jkksedang").text(info_list[i].jkksedang);
          $jkkmiskin = $("#jkkmiskin").text(info_list[i].jkkmiskin);
          $islam = $("#islam").text(info_list[i].islam);
          $kristen = $("#kristen").text(info_list[i].kristen);
          $protestan = $("#protestan").text(info_list[i].protestan);
          $katolik = $("#katolik").text(info_list[i].katolik);
          $hindu = $("#hindu").text(info_list[i].hindu);
          $budha = $("#budha").text(info_list[i].budha);
        }
      }
    });
  </script>
  {% endblock %}
</div>
