{% extends 'include/include.html' %}
{% block head %}
<style>
.hidden-row { display: none; background-color: }
.clickable-row { cursor: pointer; transition: background-color 0.3s ease; }
.clickable-row:hover { text-decoration: underline; background-color: #b0b0b0; }
.data-utama { background-color: #e6f7ff; /* Biru muda lembut */ color: #000; /* Warna teks hitam */ }
.sub-detail { background-color: #d9f7be; /* Hijau muda lembut */ color: #000; /* Warna teks hitam */ }
.sub-rab { background-color: #fffbe6; /* Kuning pastel lembut */ color: #000; /* Warna teks hitam */ }
.head-sub-rab { background-color: #bae7ff; /* Biru sedikit lebih gelap dari data utama */ color: #000; /* Warna teks hitam */ }

</style>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script>
  function handleAjax(url, method, data, onSuccess, onError) {
    $.ajax({
      url: url,
      method: method,
      data: JSON.stringify(data),
      contentType: 'application/json',
      headers: { 'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}" },
      success: onSuccess,
      error: onError
    });
  }

  function showModal(title, body, onSubmit) {
    document.getElementById('modal-title').innerText = title;
    document.getElementById('modal-body').innerHTML = body;
    document.getElementById('modal-submit').onclick = onSubmit;
    $('#generic-modal').modal('show');
  }
  function tambahBaris(category,tahun_lama) {
    showModal(
      'Tambah Baris',
      `
       <input type="hidden" id="tahun_lama_baris" value="${tahun_lama}">
       <input type="hidden" id="kategori_baris" value="${category}">
       <div class="form-group"><label for="no">No</label><input type="text" id="no_baris" class="form-control"></div>
       <div class="form-group"><label for="uraian">Uraian</label><input type="text" id="uraian_baris" class="form-control"></div>
       <div class="form-group"><label for="anggaran">Anggaran</label><input type="text" id="anggaran_baris" class="form-control"></div>
       <div class="form-group"><label for="realisasi">Realisasi</label><input type="text" id="realisasi_baris" class="form-control"></div>
       <div class="form-group"><label for="lebih_kurang">Lebih/(Kurang)</label><input type="text" id="lebih_kurang_baris" class="form-control"></div>
       <div class="form-group"><label for="tahun_baru">Tahun</label><input type="text" id="tahun_baru_baris" class="form-control"></div>`,
       function() {
        handleAjax(
          '/admin/dana/tambah/id',
          'POST',
          {
            tahun_lama: $("#tahun_lama_baris").val(),
            kategori: $("#kategori_baris").val(),
            no: $("#no_baris").val(),
            uraian: $('#uraian_baris').val(),
            anggaran: $('#anggaran_baris').val(),
            realisasi: $('#realisasi_baris').val(),
            lebih_kurang: $('#lebih_kurang_baris').val(),
            tahun_baru: $('#tahun_baru_baris').val(),
            rab:0
          },
          function(response) {  window.location.reload()},
          function(xhr, status, error) { console.error("Error:", error); }
        );
      }
    );
  }
 function ubahLabel() {
    const isRab = document.querySelector('input[name="rab"]:checked').value;
    const label1 = document.getElementById('label1');
    const label2 = document.getElementById('label2');
    const label3 = document.getElementById('label3');
    const label4 = document.getElementById('label4');
    const rab = document.getElementById('rab');
    
    if (isRab === '1') {
        label1.textContent = "Volume";
        label2.textContent = "Satuan";
        label3.textContent = "Harga Satuan (Rp)";
        label4.textContent = "Jumlah (Rp)";
    } else {
        label1.textContent = "Anggaran";
        label2.textContent = "Realisasi";
        label3.textContent = "Lebih/(Kurang)";
        label4.textContent = "Tahun";
    }
}

    function tambahBaris2(category,tahun_lama,parent_id) {
    showModal(
      'Tambah Baris',
      `
       <input type="hidden" id="tahun_lama_baris" value="${tahun_lama}">
       <input type="hidden" id="kategori_baris" value="${category}">
       <input type="hidden" id="rab" >
       <input type="hidden" id="parent_id" value="${parent_id}" >
       <div class="form-group"><label id="tanya" for="tanya">Apakah ini Data RAB?</label>
        <div class="form-check"> <input class="form-check-input" type="radio" name="rab" id="rab-ya" value="1" checked onchange="ubahLabel()"> <label class="form-check-label" for="rab-ya">Ya</label> </div>
        <div class="form-check"> <input class="form-check-input" type="radio" name="rab" id="rab-tidak" value="0" onchange="ubahLabel()"> <label class="form-check-label" for="rab-tidak">Tidak</label> </div>
       </div>
       <div class="form-group"><label for="no">No</label><input type="text" id="no_baris" class="form-control"></div>
       <div class="form-group"><label for="uraian">Uraian</label><input type="text" id="uraian_baris" class="form-control"></div>
       <div class="form-group"><label id="label1" for="anggaran">Volume</label><input type="text" id="anggaran_baris" class="form-control"></div>
       <div class="form-group"><label id="label2" for="realisasi">Satuan</label><input type="text" id="realisasi_baris" class="form-control"></div>
       <div class="form-group"><label id="label3" for="lebih_kurang">Harga Satuan (Rp)</label><input type="text" id="lebih_kurang_baris" class="form-control"></div>
       <div class="form-group"><label id="label4" for="tahun_baru">Jumlah (Rp)</label><input type="text" id="tahun_baru_baris" class="form-control"></div>`,
       function() {
        handleAjax(
          '/admin/dana/tambah/sub',
          'POST',
          {
            tahun_lama: $("#tahun_lama_baris").val(),
            kategori: $("#kategori_baris").val(),
            no: $("#no_baris").val(),
            uraian: $('#uraian_baris').val(),
            anggaran: $('#anggaran_baris').val(),
            realisasi: $('#realisasi_baris').val(),
            lebih_kurang: $('#lebih_kurang_baris').val(),
            tahun_baru: $('#tahun_baru_baris').val(),
            rab: document.querySelector('input[name="rab"]:checked').value,
            parent_id: $('#parent_id').val()
          },
          function(response) {
            window.location.reload();
          },
          function(xhr, status, error) {
            console.error("Error:", error);
          }
        );

      }
    );
  }
  function upload_nota(tahun,category,id,nota) {
    const pesan = nota ? `file sudah ada bisa dilihat disini <a target='_blank' href='/static/nota/${nota}'>${nota}</a>` : "";
    showModal(
      'Upload Nota / Bukti',
      `<span class="mb-2">Upload Nota / Bukti untuk ${category} tahun ${tahun}</span><br>   
        <span class="mb-2">${pesan}</span>
       <input type="hidden" id="tahun_nota" value="${tahun}">
       <input type="hidden" id="kategori_nota" value="${category}">
       <input type="file" id="file_nota" class="form-control">`,
      function() {
        const formData = new FormData();
        formData.append('file', document.getElementById('file_nota').files[0]);
        formData.append('tahun', $("#tahun_nota").val());
        formData.append('kategori', $("#kategori_nota").val());
        $.ajax({
          url: '/admin/dana/upload_file',
          method: 'POST',
          data: formData,
          contentType: false,
          processData: false,
          headers: { 'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}" },
          success: function() { window.location.reload(); },
          error: function(xhr, status, error) { console.error("Error:", error); }
        });
      }
    );
  }

  function edit(tahun_lama, category, id,no, uraian, anggaran, realisasi, lebihKurang,tahun_baru) {
    showModal(
      'Edit Data',
      `<input type="hidden" id="tahun_lama" value="${tahun_lama}">
       <input type="hidden" id="kategori_edit" value="${category}">
       <input type="hidden" id="id_edit" value="${id}">
       <div class="form-group"><label for="no">No</label><input type="text" id="no_edit" class="form-control"value="${no}"></div>
       <div class="form-group"><label for="uraian">Uraian</label><input type="text" id="uraian" class="form-control" value="${uraian}"></div>
       <div class="form-group"><label for="anggaran">Anggaran</label><input type="text" id="anggaran" class="form-control" value="${anggaran}"></div>
       <div class="form-group"><label for="realisasi">Realisasi</label><input type="text" id="realisasi" class="form-control" value="${realisasi}"></div>
       <div class="form-group"><label for="lebih_kurang">Lebih/(Kurang)</label><input type="text" id="lebih_kurang" class="form-control" value="${lebihKurang}"></div>
       <div class="form-group"><label for="tahun_baru">Tahun</label><input type="text" id="tahun_baru" class="form-control" value="${tahun_baru}"></div>`,
      function() {
        handleAjax(
          '/admin/dana/edit/id',
          'PUT',
          {
            tahun_lama: $("#tahun_lama").val(),
            kategori: $("#kategori_edit").val(),
            id: $("#id_edit").val(),
            no: $("#no_edit").val(),
            uraian: $('#uraian').val(),
            anggaran: $('#anggaran').val(),
            realisasi: $('#realisasi').val(),
            lebih_kurang: $('#lebih_kurang').val(),
            tahun_baru: $('#tahun_baru').val()
          },
          function() { window.location.reload(); },
          function(xhr, status, error) { console.error("Error:", error); }
        );
      }
    );
  }

  function hapus(tahun, category, id) {
    if (confirm(`Are you sure you want to delete ${category} for ${tahun}?`)) {
      handleAjax(
        '/admin/dana/hapus/id',
        'DELETE',
        { tahun: tahun, category: category, id: id },
        function() { window.location.reload(); },
        function(xhr, status, error) { console.error("Error:", error); }
      );
    } else {
      alert('Aksi penghapusan dibatalkan.');
    }
  }
</script>
{% endblock %}
{% block content %}
<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="index.html" class="link">
              <i class="ri-home-3-line fs-5"></i>
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Dana Desa</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Dana Desa</h1>
    </div>
    <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
      <a href="javascript:void(0)" class="btn btn-danger d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#bs-example-modal-x2">Hapus Tahun</a>
      <a href="javascript:void(0)" class="btn btn-secondary d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#bs-urutan-modal-xl">
        <i class="ri-add-line me-1"></i> Ubah Urutan
      </a>
      <a href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#bs-example-modal-xl">
        <i class="ri-add-line me-1"></i> Tambah Data
      </a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="border-bottom title-part-padding">
          <h4>Dana Desa Tahun:</h4>
          <div class="col-sm-3">
            <div class="mb-3">
              <select class="form-select" id="tahun" name="educationDate">
                <option value="tahun" selected>Semua Tahun</option>
                {% for i in tahun %}
                  <option value="{{ i.tahun }}">{{ i.tahun }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          {% for h in tahun %}
            <div id="table_{{ h.tahun }}">
              <h4>Dana Desa Tahun {{ h.tahun }}</h4>

              {% set categories = [('Pendapatan', info_list, urutan_pendapatan), ('Belanja', info_list2, urutan_belanja), ('Pembiayaan', info_list3, urutan_pembiayaan)] %}

              {% for category, info, order in categories %}
                {% if info %}
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6 class="mb-0">Realisasi {{ category }}</h6>
                    <a href="javascript:void(0)" class="btn btn-info" onclick="tambahBaris('{{ category.lower() }}', {{ h.tahun }})">Tambah Baris</a>
                  </div>

                  <div class="table-responsive">
                   <table id="table_{{ h.tahun }}_{{ loop.index }}" class="table table-bordered display text-nowrap">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Uraian</th>
                            <th>Anggaran</th>
                            <th>Realisasi</th>
                            <th>Lebih/(Kurang)</th>
                            <th>Tahun</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for j in order[h.tahun] %}
                            {% for i in info %}
                                {% if h.tahun == i.tahun and j.id|string == i.id|string %}
                                    <tr>
                                        <td></td>
                                        <td><strong>waduh</strong></td>
                                        <td class="anggaran_{{ category.lower() }}_{{ h.tahun }}" data="{{ i.anggaran | clean_currency }}">{{ i.anggaran | clean_currency | format_currency }}</td> <!-- Contoh, sesuaikan dengan data Anda -->
                                        <td class="realisasi_{{ category.lower() }}_{{ h.tahun }}" data="{{ i.realisasi | clean_currency }}">{{ i.realisasi | clean_currency  | format_currency }}</td> <!-- Contoh, sesuaikan dengan data Anda -->
                                        <td class="lebih_kurang_{{ category.lower() }}_{{ h.tahun }}" data="{{ i['lebih/(kurang)'] | clean_currency }}">{{ i["lebih/(kurang)"] | clean_currency  | format_currency}}</td> <!-- Contoh, sesuaikan dengan data Anda -->
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <tr class="head-sub-rab" id="JUMLAH_PENDAPATAN_{{ h.tahun }}">
                            <td></td>
                            <td><strong>JUMLAH PENDAPATAN</strong></td>
                            <td id="jml_anggaran_{{ category.lower() }}_{{ h.tahun }}"></td>
                            <td id="jml_realisasi_{{ category.lower() }}_{{ h.tahun }}"></td>
                            <td id="jml_lebih_kurang_{{ category.lower() }}_{{ h.tahun }}"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
<script>
    function calculateTotal(className) {
        var elements = document.querySelectorAll('.' + className);
        var total = 0;
        elements.forEach(function(element) {
            var value = parseFloat(element.getAttribute('data')) || 0; // Mengambil nilai dan konversi ke float
            total += value; // Menambahkan nilai ke total
        });
        return total.toFixed(2); // Mengembalikan total dengan 2 desimal
    }
    // Menghitung dan mengisi total untuk jml_anggaran
    var totalAnggaran = calculateTotal('anggaran_{{ category.lower() }}_{{ h.tahun }}');
    document.getElementById("jml_anggaran_{{ category.lower() }}_{{ h.tahun }}").textContent = "{{ "+totalAnggaran+"| clean_currency | format_currency }}";

    // Menghitung dan mengisi total untuk jml_realisasi
    var totalRealisasi = calculateTotal('realisasi_{{ category.lower() }}_{{ h.tahun }}');
    document.getElementById("jml_realisasi_{{ category.lower() }}_{{ h.tahun }}").textContent = "{{ "+totalRealisasi+"| clean_currency | format_currency }}";

    // Menghitung dan mengisi total untuk jml_lebih_kurang
    var totalLebihKurang = calculateTotal('lebih_kurang_{{ category.lower() }}_{{ h.tahun }}');
    document.getElementById("jml_lebih_kurang_{{ category.lower() }}_{{ h.tahun }}").textContent = "{{ "+totalLebihKurang+"| clean_currency | format_currency }}";
</script>

                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}


<script src="../../static/assets/libs/nestable/jquery.nestable.js"></script>
<script>
  $("#nama_nota").hide();
function toggleDetails(ids) {
  var idArray = ids.split(',');
  idArray.forEach(function(id) {
    var element = document.getElementById(id.trim());

    // Pengecekan apakah elemen dengan ID ditemukan
    if (element) {
      console.log(element);
      if (element.style.display === "none" || element.style.display === "") {
        element.style.display = "table-row";
      } else {
        element.style.display = "none";
      }
    } else {
      // Jika elemen tidak ditemukan, log pesan atau biarkan saja
      console.warn("Element with ID '" + id.trim() + "' not found.");
    }
  });
}

  $(document).ready(function() {
    // Fungsi untuk menampilkan nestable berdasarkan tahun dan nomor
    function filterNestable(year, number) {
      // Sembunyikan semua nestable
      $('.toggle-hide').hide();
      console.log(year)
      console.log(number)
      // Tampilkan nestable yang sesuai dengan filter
      $('#welcome_' + year).show();
      $('#welcome_' + year + '_' + number).show();
      $('#nestable_' + year + '_' + number).show();
      $('#footer_' + year + '_' + number).show();
    }

    // Ketika dropdown diubah, filter nestable
    $('#yearDropdown, #numberDropdown').change(function() {
      var selectedYear = $('#yearDropdown').val();
      var selectedNumber = $('#numberDropdown').val();
      filterNestable(selectedYear, selectedNumber);
    });

    // Set default view
    var selectedYear = $('#yearDropdown').val('2022');
    var selectedNumber = $('#numberDropdown').val('1');
    filterNestable('2022', '1'); // Tampilkan hanya nestable_2022_1 sebagai default

    var updateOutput = function (e) {
      var list = e.length ? e : $(e.target),
          output = list.data("output");
      if (window.JSON) {
        var serializedData = window.JSON.stringify(list.nestable("serialize"));
        output.val(serializedData);
        console.log(serializedData)
        // Kirim data ke server menggunakan AJAX
        // Cari elemen modal-footer dengan class tonggle-show

        var selectedYear = $('#yearDropdown').val();
        var selectedNumber = $('#numberDropdown').val();
        var submitButton = $('#submit_' + selectedYear + '_' + selectedNumber);

        // Menghapus event handler klik sebelumnya agar tidak menumpuk
        submitButton.off('click');
    
        // Menambahkan event handler klik
        submitButton.on('click', function(event) {
          event.preventDefault();
          $.ajax({
            url: '/admin/dana/ubah_urutan',  // Ganti dengan URL endpoint Anda
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({ nestable: serializedData }), 
            headers: {
              'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
            },
            success: function(response) {
              console.log("Data saved successfully:", response);
              window.location.reload()
            },
            error: function(xhr, status, error) {
              console.error("Error saving data:", error);
            }
          });
        });
      } else {
        output.val("JSON browser support required for this demo.");
      }
    };

    var data = {{ tahun | tojson | safe }};      
    // Ambil nilai 'tahun' dari setiap objek dalam data
    var years = data.map(function(item) {
      return item.tahun;
    });
    
    data.forEach(function(item) {
      for (var i = 1; i <= 3; i++) {
        var id = "#nestable_" + item.tahun + "_" + i;
        var output = id + "-output";
        let group = parseInt(item.tahun.toString() + i.toString(), 10);
        
        $(id).nestable({
          group: group,
        }).on("change", updateOutput);
        
        // Update output
        updateOutput($(id).data("output", $(output)));
        
        console.log(item.tahun + "." + i);
        
        var tambah_baris_id = "#tambah_baris" + item.tahun + "_" + i;
        var table_id = "#table" + item.tahun + "_" + i + " tbody";
        
        $(tambah_baris_id).on("click", function(event){
          event.preventDefault();
          
          var newRow = `<tr>
            <td><input type='text' placeholder='No'></td>
            <td><input type='text' placeholder='uraian'></td>
            <td><input type='text' placeholder='anggaran'></td>
            <td><input type='text' placeholder='realisasi'></td>
            <td><input type='text' placeholder='lebih / kurang'></td>
            <td><input type='number' placeholder='tahun'></td>
            <td>
              <button onclick="save_baris(this)" class="btn btn-success">Save</button>
              <button onclick="cancel(this)" class="btn btn-danger">Cancel</button>
            </td>
          </tr>`;
          
          $(table_id).append(newRow);
        });
      }
    });
    
    
  $("#nestable-menu").on("click", function (e) {
      var target = $(e.target),
          action = target.data("action");
      if (action === "expand-all") {
        $(".dd").nestable("expandAll");
      }
      if (action === "collapse-all") {
        $(".dd").nestable("collapseAll");
      }
    });

    $("#nestable-menu").nestable();

    var token = "{{ session['jwt_token'] }}";
    $("#tahun").val("tahun");
    $("#tahun").change(function() {
      var data_thn = JSON.parse('{{ tahun | tojson | safe }}');
      var thn = $('#tahun').val();
      for (var key in data_thn) {
        var table_thn = data_thn[key].tahun;
        if (table_thn == thn || thn == "tahun") {
          $('#table_' + table_thn).show();
        } else {
          $('#table_' + table_thn).hide();
        }
      }
    });

    $("#tambah").on("click", function() {
      //var excellpendapatan = $('#formpendapatan')[0].files[0];
      //var excellbelanja = $('#formbelanja')[0].files[0];
      //var excellpembiayaan = $('#formpembiayaan')[0].files[0];
      var tahun = $('#formtahun').val();
      var formData = new FormData();
      formData.append('tahun',tahun);
      //formData.append('excellpendapatan', excellpendapatan);
      //formData.append('excellbelanja', excellbelanja);
      //formData.append('excellpembiayaan', excellpembiayaan);
      $("#tambah").html("Loading ...");
      $.ajax({
        //url: "/admin/tambah_dana",
        url: "/admin/dana/tambah/tahun",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        method: 'POST',
        headers: {
          'Authorization': 'Bearer ' + token
        },
        success: function(data) {
          handleResponse(data, "tambah tahun dana", "/admin/dana");
        },    
        error: function(xhr, status, error) {
          let errorMsg = xhr.responseJSON ? xhr.responseJSON.msg : "Terjadi kesalahan";
          console.log("Error: ", errorMsg); // Log pesan error
          alert("Error: "+errorMsg)
          $("#tambah").html("Submit");
        }
      });
      event.preventDefault();
    });

    $("#delete").on("click", function() {
      var tahun = $("#tahun_hps").val();
      $("#delete").html("Loading ...");
      $.ajax({
        url: "/admin/hapus_dana",
        method: 'DELETE',
        headers: {'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"},
        data: { tahun: tahun },
        dataType: 'json',
        success: function(data) {
          handleResponse(data, "hapus", "/admin/dana");
        }
      });
      event.preventDefault();
    });
  });
</script>
{% endblock %}
