{% extends 'include/include.html' %}
{% block head %}
<style>
.hidden-row {
  display: none;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.3s ease!important;
}

.clickable-row:hover {
  text-decoration-thickness: 2px;
  text-decoration: underline;
  background-color: #b0b0b0!important; /* Warna sedikit lebih gelap saat di-hover */
}
</style>
<script>
  function upload_nota(year, category, id,nama_nota){
    $("#tahun_nota").val(year);
    $("#kategori_nota").val(category);
    $("#id_nota").val(id);
    console.log(nama_nota)
    if(nama_nota == ""){}
    else{
      var pesan = "file sudah ada bisa dilihat disini <a href='/static/uploads/"+nama_nota+"'>"+nama_nota+"</a>"
      $("#nama_nota").html(pesan);
      $("#nama_nota").show();
    }
    $("#bs-nota-modal-x2").modal('show'); 
  }
  function edit(year, category, id,uraian,anggaran,realisasi,lebihKurang,tahun_new){
    console.log(id)
    $("#tahun_edit").val(year);
    $("#kategori_edit").val(category);
    $("#id_edit").val(id);
    $('#Uraian').val(uraian);
    $('#Anggaran').val(anggaran);
    $('#Realisasi').val(realisasi);
    $('#Lebih_kurang').val(lebihKurang);
    $('#tahun_new').val(tahun_new);
    $("#bs-edit-modal-x2").modal('show');
  }
  function hapus(year, category, id){
    const confirmAction = confirm(`Apakah Anda yakin ingin menghapus data ${category} dengan ID: ${id} untuk tahun ${year}?`);
    if (confirmAction) {
    $.ajax({
      url: '/admin/dana/hapus/id',  // Ganti dengan URL endpoint Anda
      method: 'DELETE',
      contentType: 'application/json',
      data: JSON.stringify({year:year,category:category, id:id}), 
      headers: {
        'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
      },
      success: function(response) {
        console.log("Data deleted successfully:", response);
        window.location.reload()
      },
      error: function(xhr, status, error) {
        console.error("Error saving data:", error);
      }
    });
    } else {
      alert('Aksi penghapusan dibatalkan.');
    }
  }
</script>
{% endblock %}
{% block content %}
<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="index.html" class="link">
              <i class="ri-home-3-line fs-5"></i>
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Dana Desa</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Dana Desa</h1>
    </div>
    <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
      <a href="javascript:void(0)" class="btn btn-danger d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#bs-example-modal-x2">Hapus Tahun</a>
      <a href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#bs-urutan-modal-xl">
        <i class="ri-add-line me-1"></i> Ubah Urutan
      </a>
      <a href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#bs-example-modal-xl">
        <i class="ri-add-line me-1"></i> Tambah Data
      </a>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Container fluid -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="border-bottom title-part-padding">
          <h4>Dana Desa Tahun:</h4>
          <div class="col-sm-3">
            <div class="mb-3">
              <select class="form-select" id="tahun" name="educationDate">
                <option value="tahun" selected>Semua Tahun</option>
                {% for i in tahun %}
                <option value="{{i.tahun}}">{{i.tahun}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            {% for h in tahun %}
            <div id="table_{{h.tahun}}">
              <h4>Dana Desa Tahun {{h.tahun}}</h4>
              {% if info_list %}
              <h6>Realisasi Pendapatan</h6>
              <table class="table table-striped table-bordered display text-nowrap">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Uraian</th>
                    <th>Anggaran</th>
                    <th>Realisasi</th>
                    <th>Lebih/(Kurang)</th>
                    <th>Tahun</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  {% for j in urutan_pendapatan[h.tahun] %}
                  {% for i in info_list %}
                    {% if h.tahun == i.tahun %}
                    {% if j.id|string == i.id|string %}
                  <tr class="{{i.class}}" id="{{i.detail}}" onclick="{{i.onclick}}" 
                  {% if i.class|string == "clickable-row" %} title="klik untuk melihat detail" {% endif %}>
                    <td>{{ i.no }}</td>
                    <td>{{ i.uraian }}</td>
                    <td>{{ i.anggaran }}</td>
                    <td>{{ i.realisasi }}</td>
                    <td>{{ i['lebih/(kurang)'] }}</td>
                    <td>{{ i.tahun }}</td>
                    <td>
                      <button onclick="upload_nota({{h.tahun}},'pendapatan',{{i.id}},'{{i.nota}}')" class="btn btn-success">nota</button>
                      <button onclick="edit({{h.tahun}},'pendapatan',{{i.id}})" class="btn btn-warning">edit</button>
                      <button onclick="hapus({{h.tahun}},'pendapatan',{{i.id}})" class="btn btn-danger">hapus</button>
                    </td>
                  </tr>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p>No data available.</p>
              {% endif %}
              {% if info_list2 %}
              <h6>Realisasi Belanja</h6>
              <table class="table table-striped table-bordered display text-nowrap">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Uraian</th>
                    <th>Anggaran</th>
                    <th>Realisasi</th>
                    <th>Lebih/(Kurang)</th>
                    <th>Tahun</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  {% for j in urutan_belanja[h.tahun] %}
                  {% for i in info_list2 %}
                    {% if h.tahun == i.tahun %}
                    {% if j.id|string == i.id|string %}
                  <tr class="{{i.class}}" id="{{i.detail}}" onclick="{{i.onclick}}"
                  {% if i.class|string == "clickable-row" %}title="klik untuk melihat detail" {% endif %}>
                    <td>{{ i.no }}</td>
                    <td>{{ i.uraian }}</td>
                    <td>{{ i.anggaran }}</td>
                    <td>{{ i.realisasi }}</td>
                    <td>{{ i['lebih/(kurang)'] }}</td>
                    <td>{{ i.tahun }}</td>
                    <td>
                      <button onclick="upload_nota({{h.tahun}},'belanja',{{i.id}},'{{i.nota}}')" class="btn btn-success">nota</button>
                      <button onclick="edit({{h.tahun}},'belanja',{{i.id}})" class="btn btn-warning">edit</button>
                      <button onclick="hapus({{h.tahun}},'belanja',{{i.id}})" class="btn btn-danger">hapus</button>
                    </td>
                  </tr>  
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p>No data available.</p>
              {% endif %}
              {% if info_list3 %}
              <h6>Realisasi Pembiayaan</h6>
              <table class="table table-striped table-bordered display text-nowrap">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Uraian</th>
                    <th>Anggaran</th>
                    <th>Realisasi</th>
                    <th>Lebih/(Kurang)</th>
                    <th>Tahun</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody> 
                  {% for j in urutan_pembiayaan[h.tahun] %}
                  {% for i in info_list3 %}
                    {% if h.tahun == i.tahun %}
                    {% if j.id|string == i.id|string %}
                  <tr class="{{i.class}}" id="{{i.detail}}" onclick="{{i.onclick}}"
                  {% if i.class|string == "clickable-row" %}title="klik untuk melihat detail" {% endif %}>
                    <td>{{ i.no }}</td>
                    <td>{{ i.uraian }}</td>
                    <td>{{ i.anggaran }}</td>
                    <td>{{ i.realisasi }}</td>
                    <td>{{ i['lebih/(kurang)'] }}</td>
                    <td>{{ i.tahun }}</td>
                    <td>
                      <button onclick="upload_nota({{h.tahun}},'pembiayaan',{{i.id}},'{{i.nota}}')" class="btn btn-success">nota</button>
                      <button onclick="edit({{h.tahun}},'pembiayaan',{{i.id}})" class="btn btn-warning">edit</button>
                      <button onclick="hapus({{h.tahun}},'pembiayaan',{{i.id}})" class="btn btn-danger">hapus</button>
                    </td>
                  </tr>   
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p>No data available.</p>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Hapus Tahun -->
<div class="modal fade" id="bs-example-modal-x2" tabindex="-1" aria-labelledby="bs-example-modal-lg" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="myLargeModalLabel">Hapus Dana Desa berdasarkan tahun</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="mb-2">Keterangan: Pilih data tahun berapa yang mau dihapus</span>
        <select class="form-select" id="tahun_hps" name="educationDate">
          <option value="semua_tahun" selected>Semua Tahun</option>
          {% for i in tahun %}
          <option value="{{i.tahun}}">{{i.tahun}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="modal-footer">
        <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
          <a id="delete" href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2">Submit</a>
        </div>
        <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal upload nota  -->
<div class="modal fade" id="bs-nota-modal-x2" tabindex="-1" aria-labelledby="bs-nota-modal-lg" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="myLargeModalLabel">Upload Nota</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="mb-2">Keterangan: Upload Nota atau keterangan bukti lainnya formatnya bisa gambar atau pdf </span><br>
        <span id="nama_nota"></span>
        <input type="hidden" id="tahun_nota">
        <input type="hidden" id="kategori_nota">
        <input type="hidden" id="id_nota">
        <input type="file" id="file_nota" class="form-control" >
      </div>
      <div class="modal-footer">
        <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
          <a id="upload_nota" href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2">Submit</a>
        </div>
        <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal edit data -->
<div class="modal fade" id="bs-edit-modal-x2" tabindex="-1" aria-labelledby="bs-edit-modal-lg" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="myLargeModalLabel">Edit Data</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" id="tahun_edit">
          <input type="hidden" id="kategori_edit">
          <input type="hidden" id="id_edit">
          <div class="form-group">
            <label for="Uraian">Uraian</label>
            <input type="text" id="Uraian" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Anggaran">Anggaran</label>
            <input type="text" id="Anggaran" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Realisasi">Realisasi</label>
            <input type="text" id="Realisasi" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Lebih_kurang">Lebih/(Kurang)</label>
            <input type="text" id="Lebih_kurang" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Lebih_kurang">Tahun</label>
            <input type="text" id="tahun_new" class="form-control" />
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
          <a id="edit" href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2">Submit</a>
        </div>
        <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Tambah Data -->
<div class="modal fade" id="bs-example-modal-xl" tabindex="-1" aria-labelledby="bs-example-modal-lg" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="myLargeModalLabel">Tambah Dana Desa</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="mb-2">Keterangan: Download dan edit 3 file Excel .xlsx <a href='https://drive.google.com/drive/folders/1PxN3Lb0oBcfA61zQUto5pxG2IAyuhwSO?usp=sharing'>di sini</a> dan upload ke form di bawah</span>
        <h4>Input Excel Realisasi Pendapatan</h4>
        <form>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input class="form-control" type="file" id="formpendapatan" />
            </div>      
            {% if error_pendapatan %} <div style="color: red;"> {{ error_pendapatan }} </div> {% endif %}
          </div>
        </form>
        <h4>Input Excel Realisasi Belanja</h4>
        <form>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input class="form-control" type="file" id="formbelanja" />
            </div>
            {% if error_belanja %} <div style="color: red;"> {{ error_belanja }} </div> {% endif %}
          </div>
        </form>
        <h4>Input Excel Realisasi Pembiayaan</h4>
        <form>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input class="form-control" type="file" id="formpembiayaan" />
            </div>
            {% if error_pembiayaan %} <div style="color: red;"> {{ error_pembiayaan }} </div> {% endif %}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
          <a id="tambah" href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2">Submit</a>
        </div>
        <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- Modal Tambah Data End -->

<!-- Modal Ubah Urutan -->
<div class="modal fade" id="bs-urutan-modal-xl" tabindex="-1" aria-labelledby="bs-example-modal-lg" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="myLargeModalLabel">Ubah Urutan dan Sub Sub Detail Dana</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-control" id="yearDropdown">
          <option value="2022">2022</option>
          <option value="2023">2023</option>
        </select>
        <select class="form-control mt-2 mb-2" id="numberDropdown">
          <option value="1">Pendapatan</option>
          <option value="2">Belanja</option>
          <option value="3">Pembiayaan</option>
        </select>
        <div class="table-responsive">
          {% for h in tahun %}
            <div id="table_{{h.tahun}}">
              <h4 id="welcome_{{h.tahun}}" class="tonggle-hide">Dana Desa Tahun {{h.tahun}}</h4>
              <div class="all">
                {% if info_list %}
                  <h6 id="welcome_{{h.tahun}}_1" class="tonggle-hide">Realisasi Pendapatan</h6>
                  <div class="myadmin-dd-empty dd text-black tonggle-hide" style="max-width:none;" id="nestable_{{h.tahun}}_1">
                    <ol class="dd-list">
                      {% for i in info_list %}
                        {% if h.tahun == i.tahun %}
                        {% if i.class|string == "clickable-row" %}
                          <li class="dd-item dd3-item col-12" data-id="{{ h.tahun }}-pendapatan-{{i.id}}" style="max-width:none;">
                            <button data-action="expand" type="button" style="">Expand</button>
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content">
                              <table>
                                <tr >
                                  <td>{{ i.no }}</td>
                                  <td>{{ i.uraian }}</td>
                                  <td>{{ i.anggaran }}</td>
                                  <td>{{ i.realisasi }}</td>
                                  <td>{{ i['lebih/(kurang)'] }}</td>
                                  <td>{{ i.tahun }}</td>
                                </tr>
                              </table>
                            </div>
                            {% elif i.class == "hidden-row" %}
                            <ol class="dd-list">
                              <li class="dd-item dd3-item col-12" data-id="{{ h.tahun }}-pendapatan-{{i.id}}" style="max-width:none;">
                                <div class="dd-handle dd3-handle"></div>
                                <div class="dd3-content">
                                  <table>
                                    <tr >
                                      <td>{{ i.no }}</td>
                                      <td>{{ i.uraian }}</td>
                                      <td>{{ i.anggaran }}</td>
                                      <td>{{ i.realisasi }}</td>
                                      <td>{{ i['lebih/(kurang)'] }}</td>
                                      <td>{{ i.tahun }}</td>
                                    </tr>
                                  </table>
                                </div>
                                </li>
                            </ol>
                            {% else %}
                            <li class="dd-item dd3-item col-12" data-id="{{ h.tahun }}-pendapatan-{{i.id}}" style="max-width:none;">
                              <div class="dd-handle dd3-handle"></div>
                              <div class="dd3-content">
                                <table>
                                  <tr >
                                    <td>{{ i.no }}</td>
                                    <td>{{ i.uraian }}</td>
                                    <td>{{ i.anggaran }}</td>
                                    <td>{{ i.realisasi }}</td>
                                    <td>{{ i['lebih/(kurang)'] }}</td>
                                    <td>{{ i.tahun }}</td>
                                  </tr>
                                </table>
                              </div>
                              </li>
                              {% endif %}
                              {% if i.class|string == "clickable-row" %}</li>{% endif %}
                          {% endif %}
                      {% endfor %}
                    </ol>
                  </div>
                  <textarea class="tonggle-hide"  id="nestable_{{h.tahun}}_1-output"></textarea>
                  <div class="modal-footer tonggle-hide" id="footer_{{h.tahun}}_1" >
                    <button href="javascript:void(0)"id="submit_{{h.tahun}}_1" class="btn btn-info d-flex align-items-center ms-2">Submit</button>
                    <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
                  </div>
                {% else %}
                  <p>No data available.</p>
                {% endif %}
                {% if info_list2 %}
                  <h6 id="welcome_{{h.tahun}}_2" class="tonggle-hide">Realisasi Belanja</h6>
                  <div class="myadmin-dd-empty dd text-black tonggle-hide" style="max-width:none;" id="nestable_{{h.tahun}}_2">
                    <ol class="dd-list">
                      {% for i in info_list2 %}
                        {% if h.tahun == i.tahun %}
                        {% if i.class|string == "clickable-row" %}
                        <li class="dd-item dd3-item col-12" data-id="{{ h.tahun }}-belanja-{{i.id}}" style="max-width:none;">
                          <button data-action="expand" type="button" style="">Expand</button>
                          <div class="dd-handle dd3-handle"></div>
                          <div class="dd3-content">
                            <table>
                              <tr >
                                <td>{{ i.no }}</td>
                                <td>{{ i.uraian }}</td>
                                <td>{{ i.anggaran }}</td>
                                <td>{{ i.realisasi }}</td>
                                <td>{{ i['lebih/(kurang)'] }}</td>
                                <td>{{ i.tahun }}</td>
                              </tr>
                            </table>
                          </div>
                          {% elif i.class == "hidden-row" %}
                          <ol class="dd-list">
                            <li class="dd-item dd3-item col-12" data-id="{{ h.tahun }}-belanja-{{i.id}}" style="max-width:none;">
                              <div class="dd-handle dd3-handle"></div>
                              <div class="dd3-content">
                                <table>
                                  <tr >
                                    <td>{{ i.no }}</td>
                                    <td>{{ i.uraian }}</td>
                                    <td>{{ i.anggaran }}</td>
                                    <td>{{ i.realisasi }}</td>
                                    <td>{{ i['lebih/(kurang)'] }}</td>
                                    <td>{{ i.tahun }}</td>
                                  </tr>
                                </table>
                              </div>
                              </li>
                          </ol>
                        </li>
                          {% else %}
                          <li class="dd-item dd3-item col-12" data-id="{{ h.tahun }}-belanja-{{i.id}}" style="max-width:none;">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content">
                              <table>
                                <tr >
                                  <td>{{ i.no }}</td>
                                  <td>{{ i.uraian }}</td>
                                  <td>{{ i.anggaran }}</td>
                                  <td>{{ i.realisasi }}</td>
                                  <td>{{ i['lebih/(kurang)'] }}</td>
                                  <td>{{ i.tahun }}</td>
                                </tr>
                              </table>
                            </div>
                            </li>
                            {% endif %}
                        {% endif %}
                      {% endfor %}
                    </ol>
                  </div>
                  <textarea class="tonggle-hide"  id="nestable_{{h.tahun}}_2-output"></textarea>
                  <div class="modal-footer tonggle-hide"id="footer_{{h.tahun}}_2" >
                    <button href="javascript:void(0)"id="submit_{{h.tahun}}_2" class="btn btn-info d-flex align-items-center ms-2">Submit</button>
                    <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
                  </div>
                {% else %}
                  <p>No data available.</p>
                {% endif %}
                {% if info_list3 %}
                  <h6 id="welcome_{{h.tahun}}_3" class="tonggle-hide">Realisasi Pembiayaan</h6>
                  <div class="myadmin-dd-empty dd text-black tonggle-hide" style="max-width:none;" id="nestable_{{h.tahun}}_3">
                    <ol class="dd-list">
                      {% for i in info_list3 %}
                        {% if h.tahun == i.tahun %}
                        {% if i.class|string == "clickable-row" %}
                        <li class="dd-item dd3-item col-12" data-id="{{ h.tahun }}-pembiayaan-{{i.id}}" style="max-width:none;">
                          <button data-action="expand" type="button" style="">Expand</button>
                          <div class="dd-handle dd3-handle"></div>
                          <div class="dd3-content">
                            <table>
                              <tr >
                                <td>{{ i.no }}</td>
                                <td>{{ i.uraian }}</td>
                                <td>{{ i.anggaran }}</td>
                                <td>{{ i.realisasi }}</td>
                                <td>{{ i['lebih/(kurang)'] }}</td>
                                <td>{{ i.tahun }}</td>
                              </tr>
                            </table>
                          </div>
                          {% elif i.class == "hidden-row" %}
                          <ol class="dd-list">
                            <li class="dd-item dd3-item col-12" data-id="{{ h.tahun }}-pembiayaan-{{i.id}}" style="max-width:none;">
                              <div class="dd-handle dd3-handle"></div>
                              <div class="dd3-content">
                                <table>
                                  <tr >
                                    <td>{{ i.no }}</td>
                                    <td>{{ i.uraian }}</td>
                                    <td>{{ i.anggaran }}</td>
                                    <td>{{ i.realisasi }}</td>
                                    <td>{{ i['lebih/(kurang)'] }}</td>
                                    <td>{{ i.tahun }}</td>
                                  </tr>
                                </table>
                              </div>
                              </li>
                          </ol>
                        </li>
                          {% else %}
                          <li class="dd-item dd3-item col-12" data-id="{{ h.tahun }}-pembiayaan-{{i.id}}" style="max-width:none;">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content">
                              <table>
                                <tr >
                                  <td>{{ i.no }}</td>
                                  <td>{{ i.uraian }}</td>
                                  <td>{{ i.anggaran }}</td>
                                  <td>{{ i.realisasi }}</td>
                                  <td>{{ i['lebih/(kurang)'] }}</td>
                                  <td>{{ i.tahun }}</td>
                                </tr>
                              </table>
                            </div>
                            </li>
                            {% endif %}
                        {% endif %}
                      {% endfor %}
                    </ol>
                  </div>
                  <textarea class="tonggle-hide " id="nestable_{{h.tahun}}_3-output"></textarea>
                  <div class="modal-footer tonggle-hide" id="footer_{{h.tahun}}_3"  >
                    <button href="javascript:void(0)"id="submit_{{h.tahun}}_3" class="btn btn-info d-flex align-items-center ms-2">Submit</button>
                    <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
                  </div>
                {% else %}
                  <p>No data available.</p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- Modal Ubah Urutan End -->

{% endblock %}
{% block js %}
<script src="../../static/assets/libs/nestable/jquery.nestable.js"></script>
<script>
  $("#nama_nota").hide();
  function toggleDetails(ids) {
    var idArray = ids.split(',');
    idArray.forEach(function(id) {
      var element = document.getElementById(id.trim());
      if (element.style.display === "none" || element.style.display === "") {
        element.style.display = "table-row";
      } else {
        element.style.display = "none";
      }
    });
  }

  $("#upload_nota").on("click", function(event){
    event.preventDefault();
    var formData = new FormData();
    var fileInput = document.getElementById('file_nota');
    formData.append('file', fileInput.files[0]);
    formData.append('tahun',$("#tahun_nota").val())
    formData.append('kategori',$("#kategori_nota").val())
    formData.append('id',$("#id_nota").val())
    console.log(formData)
    $.ajax({
      url: '/admin/dana/upload_file',  // Ganti dengan URL endpoint Anda
      method: 'POST',
      contentType: 'application/json',
      data: formData, 
      headers: {
        'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
      },
      success: function(response) {
        console.log("Data saved successfully:", response);
      },
      error: function(xhr, status, error) {
        console.error("Error saving data:", error);
      }
    });
  });
  $("#edit").on("click", function(event){
    event.preventDefault();
    val data = {
      tahun : $("#tahun_edit").val(),
      kategori : $("#kategori_edit").val(),
      id :$("#id_edit").val(),
      uraian : $('#Uraian').val(),
      anggaran : $('#Anggaran').val(),
      realisasi : $('#Realisasi').val(),
      lebihKurang : $('#Lebih_kurang').val(),
      tahun_new : $('#tahun_new').val()    
     }
     console.log(data)
    $.ajax({
      url: '/admin/dana/edit/id',  // Ganti dengan URL endpoint Anda
      method: 'PUT',
      contentType: 'application/json',
      data: JSON.stringify(data), 
      headers: {
        'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
      },
      success: function(response) {
        console.log("Data saved successfully:", response);
      },
      error: function(xhr, status, error) {
        console.error("Error saving data:", error);
      }
    });
  });
  $(document).ready(function() {
    // Fungsi untuk menampilkan nestable berdasarkan tahun dan nomor
    function filterNestable(year, number) {
      // Sembunyikan semua nestable
      $('.tonggle-hide').hide();
      console.log(year)
      console.log(number)
      // Tampilkan nestable yang sesuai dengan filter
      $('#welcome_' + year).show();
      $('#welcome_' + year + '_' + number).show();
      $('#nestable_' + year + '_' + number).show();
      $('#footer_' + year + '_' + number).show();
    }

    // Ketika dropdown diubah, filter nestable
    $('#yearDropdown, #numberDropdown').change(function() {
      var selectedYear = $('#yearDropdown').val();
      var selectedNumber = $('#numberDropdown').val();
      filterNestable(selectedYear, selectedNumber);
    });

    // Set default view
    var selectedYear = $('#yearDropdown').val('2022');
    var selectedNumber = $('#numberDropdown').val('1');
    filterNestable('2022', '1'); // Tampilkan hanya nestable_2022_1 sebagai default

    var updateOutput = function (e) {
      var list = e.length ? e : $(e.target),
          output = list.data("output");
      if (window.JSON) {
        var serializedData = window.JSON.stringify(list.nestable("serialize"));
        output.val(serializedData);
        console.log(serializedData)
        // Kirim data ke server menggunakan AJAX
        // Cari elemen modal-footer dengan class tonggle-show

        var selectedYear = $('#yearDropdown').val();
        var selectedNumber = $('#numberDropdown').val();
        var submitButton = $('#submit_' + selectedYear + '_' + selectedNumber);

        // Menghapus event handler klik sebelumnya agar tidak menumpuk
        submitButton.off('click');
    
        // Menambahkan event handler klik
        submitButton.on('click', function(event) {
          event.preventDefault();
          $.ajax({
            url: '/admin/dana/ubah_urutan',  // Ganti dengan URL endpoint Anda
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({ nestable: serializedData }), 
            headers: {
              'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
            },
            success: function(response) {
              console.log("Data saved successfully:", response);
            },
            error: function(xhr, status, error) {
              console.error("Error saving data:", error);
            }
          });
        });
      } else {
        output.val("JSON browser support required for this demo.");
      }
    };

    var data = {{ tahun | tojson | safe }};      
    // Ambil nilai 'tahun' dari setiap objek dalam data
    var years = data.map(function(item) {
      return item.tahun;
    });
    data.forEach(function(item) {
      for (var i = 1; i <= 3; i++) {
        var id = "#nestable_" + item.tahun + "_" + i;
        var output = id + "-output";
            let group = parseInt(item.tahun.toString() + i.toString(), 10);
            $(id).nestable({
              group: group,
            }).on("change", updateOutput);
            
            // Update output
            updateOutput($(id).data("output", $(output)));
        
        console.log(item.tahun + "." + i);
          }
          });
  $("#nestable-menu").on("click", function (e) {
      var target = $(e.target),
          action = target.data("action");
      if (action === "expand-all") {
        $(".dd").nestable("expandAll");
      }
      if (action === "collapse-all") {
        $(".dd").nestable("collapseAll");
      }
    });

    $("#nestable-menu").nestable();

    var token = "{{ session['jwt_token'] }}";
    $("#tahun").val("tahun");
    $("#tahun").change(function() {
      var data_thn = JSON.parse('{{ tahun | tojson | safe }}');
      var thn = $('#tahun').val();
      for (var key in data_thn) {
        var table_thn = data_thn[key].tahun;
        if (table_thn == thn || thn == "tahun") {
          $('#table_' + table_thn).show();
        } else {
          $('#table_' + table_thn).hide();
        }
      }
    });

    $("#tambah").on("click", function() {
      var excellpendapatan = $('#formpendapatan')[0].files[0];
      var excellbelanja = $('#formbelanja')[0].files[0];
      var excellpembiayaan = $('#formpembiayaan')[0].files[0];
      var formData = new FormData();
      formData.append('excellpendapatan', excellpendapatan);
      formData.append('excellbelanja', excellbelanja);
      formData.append('excellpembiayaan', excellpembiayaan);
      $("#tambah").html("Loading ...");
      $.ajax({
        url: "/admin/tambah_dana",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        method: 'POST',
        headers: {
          'Authorization': 'Bearer ' + token
        },
        success: function(data) {
          handleResponse(data, "tambah", "/admin/dana");
        }
      });
      event.preventDefault();
    });

    $("#delete").on("click", function() {
      var tahun = $("#tahun_hps").val();
      $("#delete").html("Loading ...");
      $.ajax({
        url: "/admin/hapus_dana",
        method: 'DELETE',
        headers: {'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"},
        data: { tahun: tahun },
        dataType: 'json',
        success: function(data) {
          handleResponse(data, "hapus", "/admin/dana");
        }
      });
      event.preventDefault();
    });
  });
</script>
{% endblock %}
