{% extends 'include/include.html' %}
{% block head %}
<style>
.hidden-row { display: none; background-color: }
.clickable-row { cursor: pointer; transition: background-color 0.3s ease; }
.clickable-row:hover { text-decoration: underline; background-color: #b0b0b0; }
.data-utama { background-color: #e6f7ff; /* Biru muda lembut */ color: #000; /* Warna teks hitam */ }
.sub-detail { background-color: #d9f7be; /* Hijau muda lembut */ color: #000; /* Warna teks hitam */ }
.sub-rab { background-color: #fffbe6; /* Kuning pastel lembut */ color: #000; /* Warna teks hitam */ }
.head-sub-rab { background-color: #bae7ff; /* Biru sedikit lebih gelap dari data utama */ color: #000; /* Warna teks hitam */ }
.jumlah{ background-color: #07c83d;; /* Biru sedikit lebih gelap dari data utama */ color: #000; /* Warna teks hitam */ }

</style>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script>
  function handleAjax(url, method, data, onSuccess, onError) {
    $.ajax({
      url: url,
      method: method,
      data: JSON.stringify(data),
      contentType: 'application/json',
      headers: { 'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}" },
      success: onSuccess,
      error: onError
    });
  }

  function showModal(title, body, onSubmit) {
    document.getElementById('modal-title').innerText = title;
    document.getElementById('modal-body').innerHTML = body;
    document.getElementById('modal-submit').onclick = onSubmit;
    $('#generic-modal').modal('show');
  }
  function tambahBaris(category,tahun_lama) {
    showModal(
      'Tambah Baris',
      `
       <input type="hidden" id="tahun_lama_baris" value="${tahun_lama}">
       <input type="hidden" id="kategori_baris" value="${category}">
       <div class="form-group"><label for="no">No</label><input type="text" id="no_baris" class="form-control"></div>
       <div class="form-group"><label for="uraian">Uraian</label><input type="text" id="uraian_baris" class="form-control"></div>
       <div class="form-group"><label for="anggaran">Anggaran</label><input type="text" id="anggaran_baris" class="form-control"></div>
       <div class="form-group"><label for="realisasi">Realisasi</label><input type="text" id="realisasi_baris" class="form-control"></div>
       <div class="form-group"><label for="lebih_kurang">Lebih/(Kurang)</label><input type="text" id="lebih_kurang_baris" class="form-control"></div>
       <div class="form-group"><label for="tahun_baru">Tahun</label><input type="text" id="tahun_baru_baris" class="form-control"></div>`,
       function() {
        handleAjax(
          '/admin/dana/tambah/id',
          'POST',
          {
            tahun_lama: $("#tahun_lama_baris").val(),
            kategori: $("#kategori_baris").val(),
            no: $("#no_baris").val(),
            uraian: $('#uraian_baris').val(),
            anggaran: $('#anggaran_baris').val(),
            realisasi: $('#realisasi_baris').val(),
            lebih_kurang: $('#lebih_kurang_baris').val(),
            tahun_baru: $('#tahun_baru_baris').val(),
            rab:0
          },
          function(response) {  window.location.reload()},
          function(xhr, status, error) { console.error("Error:", error); }
        );
      }
    );
  }
 function ubahLabel() {
    const isRab = document.querySelector('input[name="rab"]:checked').value;
    const label1 = document.getElementById('label1');
    const label2 = document.getElementById('label2');
    const label3 = document.getElementById('label3');
    const label4 = document.getElementById('label4');
    const rab = document.getElementById('rab');
    
    if (isRab === '1') {
        label1.textContent = "Volume";
        label2.textContent = "Satuan";
        label3.textContent = "Harga Satuan (Rp)";
        label4.textContent = "Jumlah (Rp)";
    } else {
        label1.textContent = "Anggaran";
        label2.textContent = "Realisasi";
        label3.textContent = "Lebih/(Kurang)";
        label4.textContent = "Tahun";
    }
}

    function tambahBaris2(category,tahun_lama,parent_id) {
    showModal(
      'Tambah Baris',
      `
       <input type="hidden" id="tahun_lama_baris" value="${tahun_lama}">
       <input type="hidden" id="kategori_baris" value="${category}">
       <input type="hidden" id="rab" >
       <input type="hidden" id="parent_id" value="${parent_id}" >
       <div class="form-group"><label id="tanya" for="tanya">Apakah ini Data RAB?</label>
        <div class="form-check"> <input class="form-check-input" type="radio" name="rab" id="rab-ya" value="1" checked onchange="ubahLabel()"> <label class="form-check-label" for="rab-ya">Ya</label> </div>
        <div class="form-check"> <input class="form-check-input" type="radio" name="rab" id="rab-tidak" value="0" onchange="ubahLabel()"> <label class="form-check-label" for="rab-tidak">Tidak</label> </div>
       </div>
       <div class="form-group"><label for="no">No</label><input type="text" id="no_baris" class="form-control"></div>
       <div class="form-group"><label for="uraian">Uraian</label><input type="text" id="uraian_baris" class="form-control"></div>
       <div class="form-group"><label id="label1" for="anggaran">Volume</label><input type="text" id="anggaran_baris" class="form-control"></div>
       <div class="form-group"><label id="label2" for="realisasi">Satuan</label><input type="text" id="realisasi_baris" class="form-control"></div>
       <div class="form-group"><label id="label3" for="lebih_kurang">Harga Satuan (Rp)</label><input type="text" id="lebih_kurang_baris" class="form-control"></div>
       <div class="form-group"><label id="label4" for="tahun_baru">Jumlah (Rp)</label><input type="text" id="tahun_baru_baris" class="form-control"></div>`,
       function() {
        handleAjax(
          '/admin/dana/tambah/sub',
          'POST',
          {
            tahun_lama: $("#tahun_lama_baris").val(),
            kategori: $("#kategori_baris").val(),
            no: $("#no_baris").val(),
            uraian: $('#uraian_baris').val(),
            anggaran: $('#anggaran_baris').val(),
            realisasi: $('#realisasi_baris').val(),
            lebih_kurang: $('#lebih_kurang_baris').val(),
            tahun_baru: $('#tahun_baru_baris').val(),
            rab: document.querySelector('input[name="rab"]:checked').value,
            parent_id: $('#parent_id').val()
          },
          function(response) {
            window.location.reload();
          },
          function(xhr, status, error) {
            console.error("Error:", error);
          }
        );

      }
    );
  }
  function upload_nota(tahun,category,id,nota) {
    const pesan = nota ? `file sudah ada bisa dilihat disini <a target='_blank' href='/static/nota/${nota}'>${nota}</a>` : "";
    showModal(
      'Upload Nota / Bukti',
      `<span class="mb-2">Upload Nota / Bukti untuk ${category} tahun ${tahun}</span><br>   
        <span class="mb-2">${pesan}</span>
       <input type="hidden" id="tahun_nota" value="${tahun}">
       <input type="hidden" id="kategori_nota" value="${category}">
       <input type="file" id="file_nota" class="form-control">`,
      function() {
        const formData = new FormData();
        formData.append('file', document.getElementById('file_nota').files[0]);
        formData.append('tahun', $("#tahun_nota").val());
        formData.append('kategori', $("#kategori_nota").val());
        $.ajax({
          url: '/admin/dana/upload_file',
          method: 'POST',
          data: formData,
          contentType: false,
          processData: false,
          headers: { 'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}" },
          success: function() { window.location.reload(); },
          error: function(xhr, status, error) { console.error("Error:", error); }
        });
      }
    );
  }

  function edit(tahun_lama, category, id,no, uraian, anggaran, realisasi, lebihKurang,tahun_baru) {
    showModal(
      'Edit Data',
      `<input type="hidden" id="tahun_lama" value="${tahun_lama}">
       <input type="hidden" id="kategori_edit" value="${category}">
       <input type="hidden" id="id_edit" value="${id}">
       <div class="form-group"><label for="no">No</label><input type="text" id="no_edit" class="form-control"value="${no}"></div>
       <div class="form-group"><label for="uraian">Uraian</label><input type="text" id="uraian" class="form-control" value="${uraian}"></div>
       <div class="form-group"><label for="anggaran">Anggaran</label><input type="text" id="anggaran" class="form-control" value="${anggaran}"></div>
       <div class="form-group"><label for="realisasi">Realisasi</label><input type="text" id="realisasi" class="form-control" value="${realisasi}"></div>
       <div class="form-group"><label for="lebih_kurang">Lebih/(Kurang)</label><input type="text" id="lebih_kurang" class="form-control" value="${lebihKurang}"></div>
       <div class="form-group"><label for="tahun_baru">Tahun</label><input type="text" id="tahun_baru" class="form-control" value="${tahun_baru}"></div>`,
      function() {
        handleAjax(
          '/admin/dana/edit/id',
          'PUT',
          {
            tahun_lama: $("#tahun_lama").val(),
            kategori: $("#kategori_edit").val(),
            id: $("#id_edit").val(),
            no: $("#no_edit").val(),
            uraian: $('#uraian').val(),
            anggaran: $('#anggaran').val(),
            realisasi: $('#realisasi').val(),
            lebih_kurang: $('#lebih_kurang').val(),
            tahun_baru: $('#tahun_baru').val()
          },
          function() { window.location.reload(); },
          function(xhr, status, error) { console.error("Error:", error); }
        );
      }
    );
  }

  function hapus(tahun, category, id) {
    if (confirm(`Are you sure you want to delete ${category} for ${tahun}?`)) {
      handleAjax(
        '/admin/dana/hapus/id',
        'DELETE',
        { tahun: tahun, category: category, id: id },
        function() { window.location.reload(); },
        function(xhr, status, error) { console.error("Error:", error); }
      );
    } else {
      alert('Aksi penghapusan dibatalkan.');
    }
  }
</script>
{% endblock %}
{% block content %}
<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="index.html" class="link">
              <i class="ri-home-3-line fs-5"></i>
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Dana Desa</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Dana Desa</h1>
    </div>
    <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
      <a href="javascript:void(0)" class="btn btn-danger d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#bs-example-modal-x2">Hapus Tahun</a>
      <a href="javascript:void(0)" class="btn btn-secondary d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#bs-urutan-modal-xl">
        <i class="ri-add-line me-1"></i> Ubah Urutan
      </a>
      <a href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#bs-example-modal-xl">
        <i class="ri-add-line me-1"></i> Tambah Data
      </a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="border-bottom title-part-padding">
          <h4>Dana Desa Tahun:</h4>
          <div class="col-sm-3">
            <div class="mb-3">
              <select class="form-select" id="tahun" name="educationDate">
                <option value="tahun" selected>Semua Tahun</option>
                {% for i in tahun %}
                  <option value="{{ i.tahun }}">{{ i.tahun }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          {% for h in tahun %}
            <div id="table_{{ h.tahun }}"class="mt-3">
              <h4>Dana Desa Tahun {{ h.tahun }}</h4>

              {% set categories = [('Pendapatan', info_list, urutan_pendapatan), ('Belanja', info_list2, urutan_belanja), ('Pembiayaan', info_list3, urutan_pembiayaan)] %}

              {% for category, info, order in categories %}
                {% if info %}
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6 class="mb-0">Realisasi {{ category }}</h6>
                    <a href="javascript:void(0)" class="btn btn-info" onclick="tambahBaris('{{ category.lower() }}', {{ h.tahun }})">Tambah Baris</a>
                  </div>

                  <div class="table-responsive">
                    <table id="table_{{ h.tahun }}_{{ loop.index }}" class="table table-bordered display text-nowrap">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Uraian</th>
                          <th>Anggaran</th>
                          <th>Realisasi</th>
                          <th>Lebih/(Kurang)</th>
                          <th>Tahun</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for j in order[h.tahun] %}
                          {% for i in info %}
                            {% if h.tahun == i.tahun and j.id|string == i.id|string %}
                              {% set modified_onclick = i.onclick %}
                              {% if i.punya_rab|int == 1 %}
                                <script> var parent_punya_rab = "{{ i.detail }}" 
                                </script>
                                {% set modified_onclick = i.onclick.replace("')", "") + ',' + i.detail + '-rab'+ ',' + i.detail + '-total-jumlah-rab' + "')"%}
                              {% endif %}
                              {% set modified_class = i.class %}
                              {% if i.class == 'hidden-row' %}
                                {% set modified_class = modified_class + ' sub-detail' if i.rab == 0 else modified_class + ' sub-rab' %}
                              {% elif i.class == 'hidden-row clickable-row' %}
                                {% set modified_class = modified_class + ' sub-detail' if i.rab == 0 else modified_class + ' sub-rab' %}
                                <script> var parent_detail = "{{ i.id }}" 
                                </script>
                              {% else %}
                                {% set modified_class = 'data-utama' %}
                              
                              {% endif %}
                              <tr class="{{ modified_class }}" id="{{ i.detail }}" onclick="{{ modified_onclick }}" title="{{ 'klik untuk melihat detail' if i.class == 'clickable-row' }}">
                                <td>{{ i.no }}</td>
                                <td>{{ i.uraian }} </td>
                                {% if i.rab|int == 0 %}
                                  <td>{{ i.anggaran if i.anggaran else info[i.id-1].anggaran }}</td>
                                  <td id="{{ 'punya_rab' if i.punya_rab|int == 1 }}">{{ i.realisasi }}</td>
                                  <td>{{ (i.anggaran | clean_currency - i.realisasi | clean_currency) | format_currency }}</td>
                                  <td>{{ i.tahun }}</td>
                                {% else %}
                                  <td>{{ i.anggaran }}</td>
                                  <td>{{ i.realisasi }}</td>
                                  <td>{{ i["lebih/(kurang)"] }}</td>
                                  <td id="total_rab_{{ i.id }}_{{ h.tahun }}">{{ (i["lebih/(kurang)"] | clean_currency * i.anggaran | clean_currency) | format_currency }}</td>
                                {% endif %}
                                <td>
                                  <a href="javascript:void(0)" class="btn btn-info" onclick="tambahBaris2('{{ category.lower() }}', {{ h.tahun }}, {{ i.id }})">Tambah SUB</a>
                                  <button onclick="upload_nota({{ h.tahun }}, '{{ category.lower() }}', {{ i.id }}, '{{ i.nota }}')" class="btn btn-success">Nota</button>
                                  <button onclick="edit({{ h.tahun }}, '{{ category.lower() }}', {{ i.id }}, '{{ i.no }}', '{{ i.uraian }}', '{{ i.anggaran }}', '{{ i.realisasi }}', '{{ (i.anggaran | clean_currency - i.realisasi | clean_currency) | format_currency }}', {{ i.tahun }})" class="btn btn-warning">Edit</button>
                                  <button onclick="hapus({{ h.tahun }}, '{{ category.lower() }}', {{ i.id }})" class="btn btn-danger">Hapus</button>
                                </td>
                              </tr>
                              {% if i.punya_rab|int == 1 %}
                                <tr class="head-sub-rab hidden-row" id="{{ i.detail }}-rab" title="{{ 'data di bawah adalah rincian rab' }}">
                                  <td>No</td>
                                  <td>Uraian</td>
                                  <td>Volume</td>
                                  <td>Satuan</td>
                                  <td>Harga Satuan (Rp)</td>
                                  <td>Jumlah (Rp)</td>
                                  <td>Aksi</td>
                                </tr>
                              {% endif %}
                              
                              {% if i.rab|int == 1 %}
                              <tr class="hidden-row jumlah" id="{{ i.detail }}-total-jumlah-rab" >
                                <td></td>
                                <td><strong>Total RAB</strong></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td id="jumlah_total_rab_{{ category.lower() }}_{{ h.tahun }}">{{ (i["lebih/(kurang)"] | clean_currency * i.anggaran | clean_currency) | format_currency }}</td>
                                <td></td>
                              </tr>
                              <script>
                                var sebelum = document.getElementById('jumlah_total_rab_{{ category.lower() }}_{{ h.tahun }}').innerHTML;
                                var sekarang = parseFloat(sebelum) + parseFloat(document.getElementById('total_rab_{{ i.id }}_{{ h.tahun }}').innerHTML);
                                document.getElementById('jumlah_total_rab_{{ category.lower() }}_{{ h.tahun }}').innerHTML = sekarang.toFixed(2);
                                document.getElementById(parent_punya_rab).getAttribute('onclick');
                              </script>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal template -->
<div class="modal fade" id="generic-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="modal-title">Title</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">...</div>
      <div class="modal-footer">
        <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
          <a id="modal-submit" class="btn btn-info d-flex align-items-center ms-2">Submit</a>
        </div>
        <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Hapus Tahun -->
<div class="modal fade" id="bs-example-modal-x2" tabindex="-1" aria-labelledby="bs-example-modal-lg" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="myLargeModalLabel">Hapus Dana Desa berdasarkan tahun</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="mb-2">Keterangan: Pilih data tahun berapa yang mau dihapus</span>
        <select class="form-select" id="tahun_hps" name="educationDate">
          <option value="semua_tahun" selected>Semua Tahun</option>
          {% for i in tahun %}
          <option value="{{i.tahun}}">{{i.tahun}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="modal-footer">
        <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
          <a id="delete" class="btn btn-info d-flex align-items-center ms-2">Submit</a>
        </div>
        <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Tambah Data -->
<div class="modal fade" id="bs-example-modal-xl" tabindex="-1" aria-labelledby="bs-example-modal-lg" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="myLargeModalLabel">Tambah Dana Desa</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <span class="mb-2">Keterangan: Download dan edit 3 file Excel .xlsx <a href='https://drive.google.com/drive/folders/1PxN3Lb0oBcfA61zQUto5pxG2IAyuhwSO?usp=sharing'>di sini</a> dan upload ke form di bawah</span>
        <h4>Input Excel Realisasi Pendapatan</h4> -->
        <form>
            <div class="custom-file">
              <label> Masukan Tahun Baru </label>
              <input class="form-control" type="number" min="1000" max="9999" id="formtahun" />
            </div>      
            {% if error_tahun %} <div style="color: red;"> {{ error_tahun }} </div> {% endif %}
          
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
          <a id="tambah" href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2">Submit</a>
        </div>
        <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- Modal Ubah Urutan -->
<div class="modal fade" id="bs-urutan-modal-xl" tabindex="-1" aria-labelledby="bs-example-modal-lg" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="myLargeModalLabel">Ubah Urutan dan Sub Sub Detail Dana</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-control" id="yearDropdown">
          {% for i in tahun %}

            <option value="{{i.tahun}}">{{i.tahun}}</option>
          {% endfor %}
        </select>
        <select class="form-control mt-2 mb-2" id="numberDropdown">
          <option value="1">Pendapatan</option>
          <option value="2">Belanja</option>
          <option value="3">Pembiayaan</option>
        </select>
        <div class="table-responsive">
          {% for h in tahun %}
            <div id="table_{{h.tahun}}">
              <h4 id="welcome_{{h.tahun}}" class="toggle-hide">Dana Desa Tahun {{h.tahun}}</h4>
              <div class="all">
                {% for type, info_list, order in [('1', info_list, urutan_pendapatan), ('2', info_list2, urutan_belanja), ('3', info_list3, urutan_pembiayaan)] %}
                  {% if info_list %}
                    <h6 id="welcome_{{h.tahun}}_{{type}}" class="toggle-hide">
                      {% if type == '1' %}Realisasi Pendapatan{% elif type == '2' %}Realisasi Belanja{% else %}Realisasi Pembiayaan{% endif %}
                    </h6>
                    <div class="myadmin-dd-empty dd text-black toggle-hide" style="max-width:none;" id="nestable_{{h.tahun}}_{{type}}">
                      <ol class="dd-list">                          
                          {% for j in order[h.tahun] %}
                          {% for i in info_list %}                          
                          {% if h.tahun.strip() == i.tahun.strip() and j.id|string == i.id|string %}
                            {% if i.class|string == "hidden-row" %}
                            {% else %}
                            <li class="dd-item dd3-item col-12" data-id="{{ h.tahun }}-{{ 'pendapatan' if type == '1' else 'belanja' if type == '2' else 'pembiayaan' }}-{{i.id}}-{{i.rab}}" style="max-width:none;">
                              {% if i.class|string == "clickable-row" %}
                                <button data-action="expand" type="button">Expand</button>
                              {% endif %} 
                              <div class="dd-handle dd3-handle"></div>
                              <div class="dd3-content">
                                <table>
                                  <tr>
                                    <td>{{ i.no }}</td>
                                    <td>{{ i.uraian }}</td>
                                    <td>{{ i.anggaran }}</td>
                                    <td>{{ i.realisasi }}</td>
                                    {% if i.rab == 0 %}
                                      <td>{{ (i.anggaran | clean_currency - i.realisasi | clean_currency) | format_currency  }}</td>
                                      <td>{{ i.tahun }}</td>
                                    {% else %} 
                                      <td>{{ i["lebih/(kurang)"]  }}</td>
                                      <td>{{ i.Jumlah }}</td>
                                    {% endif %}
                                  </tr>
                                </table>
                              </div>
                                {% if i.class|string == "clickable-row" %}
                                <ol class="dd-list">
                                {% set id_str = i.onclick %}
                                {% set raw_ids = id_str.split('(')[1].replace("toggleDetails('", "").replace("')", "") %}
                                {% set parts = raw_ids.split(',') %}
                                {% for part in parts %}
                                  {% for j in info_list %}
                                  {% if j.id == part.split('-')[-1]  %}
                                    <li class="dd-item dd3-item col-12" data-id="{{ h.tahun }}-{{ 'pendapatan' if type == '1' else 'belanja' if type == '2' else 'pembiayaan' }}-{{j.id}}-{{ j.rab }}" style="max-width:none;">
                                      <div class="dd-handle dd3-handle"></div>
                                      <div class="dd3-content">
                                        <table>
                                          <tr>
                                            <td>{{ j.no }}</td>
                                            <td>{{ j.uraian }}</td>
                                            <td>{{ j.anggaran }}</td>
                                            <td>{{ j.realisasi }}</td>
                                            {% if j.rab == 0 %}
                                              <td>{{ (j.anggaran | clean_currency - j.realisasi | clean_currency) | format_currency  }}</td>
                                              <td>{{ j.tahun }}</td>
                                            {% else %} 
                                              <td>{{ i["lebih/(kurang)"]  }}</td>
                                              <td>{{ j.Jumlah }}</td>
                                            {% endif %}
                                          </tr>
                                        </table>
                                      </div>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                  {% endfor %}
                                  </ol>
                                  {% endif %}
                            </li>
                          {% endif %}
                          {% endif %}
                        {% endfor %}
                        {% endfor%}
                      </ol>
                    </div>
                    <textarea class="toggle-hide" id="nestable_{{h.tahun}}_{{type}}-output"></textarea>
                    <div class="modal-footer toggle-hide" id="footer_{{h.tahun}}_{{type}}">
                      <button href="javascript:void(0)" id="submit_{{h.tahun}}_{{type}}" class="btn btn-info d-flex align-items-center ms-2">Submit</button>
                      <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
                    </div>
                  {% else %}
                    <p>No data available.</p>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- Modal Ubah Urutan End -->
{% endblock %}
{% block js %}


<script src="../../static/assets/libs/nestable/jquery.nestable.js"></script>
<script>
  $("#nama_nota").hide();
function toggleDetails(ids) {
  var idArray = ids.split(',');
  idArray.forEach(function(id) {
    var element = document.getElementById(id.trim());

    // Pengecekan apakah elemen dengan ID ditemukan
    if (element) {
      console.log(element);
      if (element.style.display === "none" || element.style.display === "") {
        element.style.display = "table-row";
      } else {
        element.style.display = "none";
      }
    } else {
      // Jika elemen tidak ditemukan, log pesan atau biarkan saja
      console.warn("Element with ID '" + id.trim() + "' not found.");
    }
  });
}

  $(document).ready(function() {
    // Fungsi untuk menampilkan nestable berdasarkan tahun dan nomor
    function filterNestable(year, number) {
      // Sembunyikan semua nestable
      $('.toggle-hide').hide();
      console.log(year)
      console.log(number)
      // Tampilkan nestable yang sesuai dengan filter
      $('#welcome_' + year).show();
      $('#welcome_' + year + '_' + number).show();
      $('#nestable_' + year + '_' + number).show();
      $('#footer_' + year + '_' + number).show();
    }

    // Ketika dropdown diubah, filter nestable
    $('#yearDropdown, #numberDropdown').change(function() {
      var selectedYear = $('#yearDropdown').val();
      var selectedNumber = $('#numberDropdown').val();
      filterNestable(selectedYear, selectedNumber);
    });

    // Set default view
    var selectedYear = $('#yearDropdown').val('2022');
    var selectedNumber = $('#numberDropdown').val('1');
    filterNestable('2022', '1'); // Tampilkan hanya nestable_2022_1 sebagai default

    var updateOutput = function (e) {
      var list = e.length ? e : $(e.target),
          output = list.data("output");
      if (window.JSON) {
        var serializedData = window.JSON.stringify(list.nestable("serialize"));
        output.val(serializedData);
        console.log(serializedData)
        // Kirim data ke server menggunakan AJAX
        // Cari elemen modal-footer dengan class tonggle-show

        var selectedYear = $('#yearDropdown').val();
        var selectedNumber = $('#numberDropdown').val();
        var submitButton = $('#submit_' + selectedYear + '_' + selectedNumber);

        // Menghapus event handler klik sebelumnya agar tidak menumpuk
        submitButton.off('click');
    
        // Menambahkan event handler klik
        submitButton.on('click', function(event) {
          event.preventDefault();
          $.ajax({
            url: '/admin/dana/ubah_urutan',  // Ganti dengan URL endpoint Anda
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({ nestable: serializedData }), 
            headers: {
              'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
            },
            success: function(response) {
              console.log("Data saved successfully:", response);
              window.location.reload()
            },
            error: function(xhr, status, error) {
              console.error("Error saving data:", error);
            }
          });
        });
      } else {
        output.val("JSON browser support required for this demo.");
      }
    };

    var data = {{ tahun | tojson | safe }};      
    // Ambil nilai 'tahun' dari setiap objek dalam data
    var years = data.map(function(item) {
      return item.tahun;
    });
    
    data.forEach(function(item) {
      for (var i = 1; i <= 3; i++) {
        var id = "#nestable_" + item.tahun + "_" + i;
        var output = id + "-output";
        let group = parseInt(item.tahun.toString() + i.toString(), 10);
        
        $(id).nestable({
          group: group,
        }).on("change", updateOutput);
        
        // Update output
        updateOutput($(id).data("output", $(output)));
        
        console.log(item.tahun + "." + i);
        
        var tambah_baris_id = "#tambah_baris" + item.tahun + "_" + i;
        var table_id = "#table" + item.tahun + "_" + i + " tbody";
        
        $(tambah_baris_id).on("click", function(event){
          event.preventDefault();
          
          var newRow = `<tr>
            <td><input type='text' placeholder='No'></td>
            <td><input type='text' placeholder='uraian'></td>
            <td><input type='text' placeholder='anggaran'></td>
            <td><input type='text' placeholder='realisasi'></td>
            <td><input type='text' placeholder='lebih / kurang'></td>
            <td><input type='number' placeholder='tahun'></td>
            <td>
              <button onclick="save_baris(this)" class="btn btn-success">Save</button>
              <button onclick="cancel(this)" class="btn btn-danger">Cancel</button>
            </td>
          </tr>`;
          
          $(table_id).append(newRow);
        });
      }
    });
    
    
  $("#nestable-menu").on("click", function (e) {
      var target = $(e.target),
          action = target.data("action");
      if (action === "expand-all") {
        $(".dd").nestable("expandAll");
      }
      if (action === "collapse-all") {
        $(".dd").nestable("collapseAll");
      }
    });

    $("#nestable-menu").nestable();

    var token = "{{ session['jwt_token'] }}";
    $("#tahun").val("tahun");
    $("#tahun").change(function() {
      var data_thn = JSON.parse('{{ tahun | tojson | safe }}');
      var thn = $('#tahun').val();
      for (var key in data_thn) {
        var table_thn = data_thn[key].tahun;
        if (table_thn == thn || thn == "tahun") {
          $('#table_' + table_thn).show();
        } else {
          $('#table_' + table_thn).hide();
        }
      }
    });

    $("#tambah").on("click", function() {
      //var excellpendapatan = $('#formpendapatan')[0].files[0];
      //var excellbelanja = $('#formbelanja')[0].files[0];
      //var excellpembiayaan = $('#formpembiayaan')[0].files[0];
      var tahun = $('#formtahun').val();
      var formData = new FormData();
      formData.append('tahun',tahun);
      //formData.append('excellpendapatan', excellpendapatan);
      //formData.append('excellbelanja', excellbelanja);
      //formData.append('excellpembiayaan', excellpembiayaan);
      $("#tambah").html("Loading ...");
      $.ajax({
        //url: "/admin/tambah_dana",
        url: "/admin/dana/tambah/tahun",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        method: 'POST',
        headers: {
          'Authorization': 'Bearer ' + token
        },
        success: function(data) {
          handleResponse(data, "tambah tahun dana", "/admin/dana");
        },    
        error: function(xhr, status, error) {
          let errorMsg = xhr.responseJSON ? xhr.responseJSON.msg : "Terjadi kesalahan";
          console.log("Error: ", errorMsg); // Log pesan error
          alert("Error: "+errorMsg)
          $("#tambah").html("Submit");
        }
      });
      event.preventDefault();
    });

    $("#delete").on("click", function() {
      var tahun = $("#tahun_hps").val();
      $("#delete").html("Loading ...");
      $.ajax({
        url: "/admin/hapus_dana",
        method: 'DELETE',
        headers: {'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"},
        data: { tahun: tahun },
        dataType: 'json',
        success: function(data) {
          handleResponse(data, "hapus", "/admin/dana");
        }
      });
      event.preventDefault();
    });
  });
</script>
{% endblock %}
