<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <?xml version="1.0" encoding="UTF-8"?>
    <meta name="description" content="Tentang Desa Pangkah: Desa Pangkah merupakan desa yang memberi pelayanan publik secara cepat dan efisien. Dengan mengedepankan pelayanan dan pengolahan data berbasis IT, Desa Pangkah diharapkan dapat berkembang menjadi yang lebih maju dalam berbagai aspek baik itu SDM, Kesehatan, Kesejahteraan dan Ekonomi. Dengan Portal Desa Digital semua pelayanan menjadi lebih baik.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Sistem Informasi Desa Pangkah">
    <meta property="og:description" content="Tentang Desa Pangkah: Desa Pangkah merupakan desa yang memberi pelayanan publik secara cepat dan efisien. Dengan mengedepankan pelayanan dan pengolahan data berbasis IT, Desa Pangkah diharapkan dapat berkembang menjadi yang lebih maju dalam berbagai aspek baik itu SDM, Kesehatan, Kesejahteraan dan Ekonomi. Dengan Portal Desa Digital semua pelayanan menjadi lebih baik.">
    <meta property="og:image" content="https://desapangkah.com/static/image/logo_ico.png">
    <meta property="og:url" content="https://desapangkah.com">
    <script type="application/ld+json">
       {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Sistem Informasi Desa Pangkah",
        "url": "http://www.desapangkah.com",
        "logo": "http://www.desapangkah.com/static/image/logo_ico.png",
        "contactPoint": {
            "@type": "ContactPoint",
            "email": "pemdespangkah@gmail.com",
            "contactType": "customer service"
        }
    }
    </script>
</head>
<body>
    <h1>404 - Page Not Found</h1>
    <p>Sorry, the page you are looking for does not exist.</p>
    <p><a href="/">Back to Home</a></p>
</body>
</html>
