{% extends 'include/base.html' %} 
{% block content %}
<div class="page-titles">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-12 align-self-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 d-flex align-items-center">
                    <li class="breadcrumb-item">
                        <a href="/" class="link"><i class="ri-home-3-line fs-5"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Dana Desa</li>
                </ol>
            </nav>
            <h1 class="mb-0 fw-bold">Realisasi Dana Desa {{tahun}}</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="mb-0 fw-bold">Realisasi Pendapatan</h1>
                </div>
                    <div class="card-body">
                        <small>Realisasi pendapatan desa merujuk pada saat pendapatan desa benar-benar terjadi atau tercatat. Ini mencakup semua sumber pendapatan desa, seperti pajak, dana alokasi, dan sumbangan, yang telah diterima dalam bentuk dana tunai yang dapat digunakan untuk membiayai kegiatan desa.</small><br><br>
                        <div class = "table-responsive">
                        {% if info_list %}
                        <table id="file_export" class="table table-striped table-bordered display text-nowrap"style="border:0px; border-bottom: 1px solid ;">
                            <thead>
                            <tr>
                              <th >No</th>
                              <th >Uraian</th>
                              <th >Anggaran</th>
                              <th >Realisasi</th>
                              <th >Lebih/(Kurang)</th>
                              <th >Tahun</th>
                            </tr>
                        </thead>
                            {% for i in info_list :%}
                            <tr style="border:0px">
                                <td>{{i.no}}</td>
                                <td>{{i.uraian}}</td>
                                <td>{{i.anggaran}}</td>
                                <td>{{i.realisasi}}</td>
                                <td>{{i['lebih/(kurang)']}}</td>
                                <td>{{i.tahun}}</td>
                            </tr>
                            {% endfor %}
                          </table>
                          {% else %}
                            <p>No data available.</p>
                        {% endif %}
                        <!---->
                    </div>
                </div>
            </div>
            <div class="card">
            <div class="card-header">
                <h1 class="mb-0 fw-bold">Realisasi Belanja</h1>
            </div>
                <div class="card-body">
                    <small>Realisasi belanja merujuk pada penggunaan dana atau sumber pembiayaan yang telah disetujui atau dialokasikan untuk membiayai pengeluaran atau belanja yang dilakukan oleh pemerintah desa. Ini mencakup semua pengeluaran yang sebenarnya telah terjadi atau tercatat dalam laporan keuangan desa selama periode tertentu. Realisasi belanja ini mencakup berbagai jenis pengeluaran, seperti pembelian barang, pembayaran gaji pegawai, pembangunan infrastruktur, dan lain sebagainya. </small><br><br>
          <div class = "table-responsive">
                        {% if info_list2 %}
                        <table id="file_export" class="table table-striped table-bordered display text-nowrap"style="border:0px; border-bottom: 1px solid ;">
                            <thead>
                            <tr>
                              <th >No</th>
                              <th >Uraian</th>
                              <th >Anggaran</th>
                              <th >Realisasi</th>
                              <th >Lebih/(Kurang)</th>
                              <th >Tahun</th>
                            </tr>
                        </thead>
                            {% for i in info_list2 :%}
                            <tr style="border:0px">
                                <td>{{i.no}}</td>
                                <td>{{i.uraian}}</td>
                                <td>{{i.anggaran}}</td>
                                <td>{{i.realisasi}}</td>
                                <td>{{i['lebih/(kurang)']}}</td>
                                <td>{{i.tahun}}</td>
                            </tr>
                            {% endfor %}
            
            
                          </table>
                          {% else %}
    <p>No data available.</p>
    {% endif %}
                        <!---->
                    </div>
                </div>
            </div>
            <div class="card">
            <div class="card-header">
                <h1 class="mb-0 fw-bold">Realisasi Pembiayaan</h1>
            </div>
                <div class="card-body">
                    <small>Realisasi pembiayaan adalah saat dana atau sumber pembiayaan yang telah disetujui atau dijanjikan benar-benar tersedia atau digunakan oleh desa untuk mendukung kegiatan atau proyek tertentu. Ini bisa berupa dana hibah, pinjaman, atau sumber pembiayaan lainnya yang telah dicairkan atau digunakan secara efektif oleh pemerintah desa sesuai dengan peruntukannya</small><br><br>
                        <div class = "table-responsive">
                        {% if info_list3 %}
                        <table id="file_export" class="table table-striped table-bordered display text-nowrap" style="border:0px; border-bottom: 1px solid ;">
                            <thead>
                            <tr >
                              <th >No</th>
                              <th >Uraian</th>
                              <th >Anggaran</th>
                              <th >Realisasi</th>
                              <th >Lebih/(Kurang)</th>
                              <th >Tahun</th>
                            </tr>
                        </thead>
                            {% for i in info_list3 :%}
                            <tr style="border:0px">
                                <td>{{i.no}}</td>
                                <td>{{i.uraian}}</td>
                                <td>{{i.anggaran}}</td>
                                <td>{{i.realisasi}}</td>
                                <td>{{i['lebih/(kurang)']}}</td>
                                <td>{{i.tahun}}</td>
                            </tr>
                            {% endfor %}
            
            
                          </table>
                          {% else %}
                        <p>No data available.</p>
                        {% endif %}
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 mt-4 mt-md-0">
            <div class="card">
                <div class="card-body">
                    <center>
                        <img src="../static/image/logo.png" style="width: 150px; height: 100px;"
                            alt="logo admin"><br><br>
                    </center>
                    <h4>Sistem Informasi desa pangkah</h4>
                    <p><strong>Desa pangkah</strong> berada di kecamatan Pangkah Kab. Tegal, dengan sebagian
                        besar penduduknya sebagai Perindustrian/jasa menjadikan desa pangkah memiliki potensi
                        wisata .</p><br>
                    <p>Dengan luas wilayah 62.98 m<sup>2</sup> ini populasinya dianggap cukup karena dari total
                        penduduk sebesar 2950, terbagi para laki-laki di pangkah sebanyak 1474 orang dan 1476
                        sisanya wanita.</p><br>
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="text-uppercase">Kontak Bantuan</h4>
                    <hr>
                    <h4 class="d-flex align-item-center">
                        <i class="ri-smartphone-line"></i> 081227589209
                    </h4>
                    <small>Please contact with us if you have any questions. We are
                        avalible 24h.</small>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}