<!DOCTYPE html>
<html>
<head>
    <title>Halaman Landing Page dengan 12 Card</title>
    <!-- Tautan ke Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
         body {
            background-image: url('image/pg_pangkah_infotegal.jpg');
            background-size: cover; /* Mengisi seluruh latar belakang */
            background-repeat: no-repeat; /* Tanpa pengulangan gambar */
        }
    </style>
</head>
<body>

<div class="container mt-5" >
    <h1 class="text-center">Selamat Datang di Landing Page</h1>
    <div class="row mt-5">
        <!-- Kartu Pertama -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 " >
            <div class="card bg-primary">
                <img src="gambar1.jpg" class="card-img-top" alt="Gambar 1">
                <div class="card-body">
                    <h5 class="card-title">Kartu 1</h5>
                    <p class="card-text">Deskripsi singkat tentang kartu 1.</p>
                </div>
            </div>
        </div>
        <!-- Kartu Kedua -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
            <div class="card bg-secondary">
                <img src="gambar2.jpg" class="card-img-top" alt="Gambar 2">
                <div class="card-body">
                    <h5 class="card-title">Kartu 2</h5>
                    <p class="card-text">Deskripsi singkat tentang kartu 2.</p>
                </div>
            </div>
        </div>
        <!-- Kartu Ketiga -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
            <div class="card bg-success">
                <img src="gambar3.jpg" class="card-img-top" alt="Gambar 3">
                <div class="card-body">
                    <h5 class="card-title">Kartu 3</h5>
                    <p class="card-text">Deskripsi singkat tentang kartu 3.</p>
                </div>
            </div>
        </div>
                <!-- Kartu Ketiga -->
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
                    <div class="card bg-warning">
                        <img src="gambar3.jpg" class="card-img-top" alt="Gambar 3">
                        <div class="card-body">
                            <h5 class="card-title">Kartu 3</h5>
                            <p class="card-text">Deskripsi singkat tentang kartu 3.</p>
                        </div>
                    </div>
                </div>
                        <!-- Kartu Ketiga -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
            <div class="card bg-danger">
                <img src="gambar3.jpg" class="card-img-top" alt="Gambar 3">
                <div class="card-body">
                    <h5 class="card-title">Kartu 3</h5>
                    <p class="card-text">Deskripsi singkat tentang kartu 3.</p>
                </div>
            </div>
        </div>
                <!-- Kartu Ketiga -->
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
                    <div class="card " style="background-color: aqua;">
                        <img src="gambar3.jpg" class="card-img-top" alt="Gambar 3">
                        <div class="card-body">
                            <h5 class="card-title">Kartu 3</h5>
                            <p class="card-text">Deskripsi singkat tentang kartu 3.</p>
                        </div>
                    </div>
                </div>
                        <!-- Kartu Ketiga -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
            <div class="card" style="background-color: rgba(174, 163, 59, 0.718);">
                <img src="gambar3.jpg" class="card-img-top" alt="Gambar 3">
                <div class="card-body">
                    <h5 class="card-title">Kartu 3</h5>
                    <p class="card-text">Deskripsi singkat tentang kartu 3.</p>
                </div>
            </div>
        </div>
                <!-- Kartu Ketiga -->
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card"  style="background-color: blueviolet">
                        <img src="gambar3.jpg" class="card-img-top" alt="Gambar 3">
                        <div class="card-body">
                            <h5 class="card-title">Kartu 3</h5>
                            <p class="card-text">Deskripsi singkat tentang kartu 3.</p>
                        </div>
                    </div>
                </div>
                        <!-- Kartu Ketiga -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card"  style="background-color: rgba(165, 42, 42, 0.884)">
                <img src="gambar3.jpg" class="card-img-top" alt="Gambar 3">
                <div class="card-body">
                    <h5 class="card-title">Kartu 3</h5>
                    <p class="card-text">Deskripsi singkat tentang kartu 3.</p>
                </div>
            </div>
        </div>
                <!-- Kartu Ketiga -->
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card"  style="background-color:darkseagreen">
                        <img src="gambar3.jpg" class="card-img-top" alt="Gambar 3">
                        <div class="card-body">
                            <h5 class="card-title">Kartu 3</h5>
                            <p class="card-text">Deskripsi singkat tentang kartu 3.</p>
                        </div>
                    </div>
                </div>        <!-- Kartu Ketiga -->
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                        <img src="gambar3.jpg" class="card-img-top" alt="Gambar 3">
                        <div class="card-body">
                            <h5 class="card-title">Kartu 3</h5>
                            <p class="card-text">Deskripsi singkat tentang kartu 3.</p>
                        </div>
                    </div>
                </div>
                        <!-- Kartu Ketiga -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img src="gambar3.jpg" class="card-img-top" alt="Gambar 3">
                <div class="card-body">
                    <h5 class="card-title">Kartu 3</h5>
                    <p class="card-text">Deskripsi singkat tentang kartu 3.</p>
                </div>
            </div>
        </div>
                <!-- Kartu Ketiga -->
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                        <img src="gambar3.jpg" class="card-img-top" alt="Gambar 3">
                        <div class="card-body">
                            <h5 class="card-title">Kartu 3</h5>
                            <p class="card-text">Deskripsi singkat tentang kartu 3.</p>
                        </div>
                    </div>
                </div>

        <!-- Lanjutkan menambahkan lebih banyak kartu sesuai kebutuhan -->
        <!-- Kartu Keempat -->
        <!-- ... -->
    </div>
</div>

<!-- Tautan ke Bootstrap JavaScript dan jQuery (ditempatkan sebelum </body>) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>